<<<<<<< HEAD

=======
nav {
    font-weight:500;
    text-decoration: none;
    margin: 6px 8px;
}

.nav-box {
    padding: 16px;
}
.nav-link {
color: black;
height: 48px;
min-width: 60px;
}

.active {
background-color: black!important;
}

.nav-link:hover {
    color: black;
}
/* #logo {
width:48px
} */

#logo:hover {
    background-color:#f2f2f2;
    width: 48px;
}
>>>>>>> b503b036393b8eda00c6851e2c39d24aee382140
